// Colors:
$color-white: #ffffff;
$color-black: #000000;

$color-primary-light: #96c0ff;
$color-primary-dark: #3e8bff;

$color-secondary-light: #808080;
$color-secondary-dark: #505050;

// Width

$md: 149.7rem;

// Padding
$sides-padding-md: 0 5.5vw;
