@import "../../../../../../sass/variables";

.documents-container {
  display: grid;
  gap: 2rem;
}

.imported-documents {
  display: inline-block;
  width: 18rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:visited,
  &:link {
    color: $color-black;
    text-decoration: none;
  }
}
