@import "../../../../../../sass/variables";

.personal-section {
  padding: $sides-padding-md;
  // font-size: 1.8rem;
}

.personal-section-container {
  max-width: $md;
  margin: 0 auto;
  margin-bottom: 6rem;

  display: grid;
  grid-template-rows: repeat(auto-fit, max-content);
  row-gap: 6rem;

  input::-webkit-inner-spin-button,
  input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
}

.account-settings-container {
  display: grid;
  grid-template-columns: /*minmax(max-content, 37rem)*/ 37rem minmax(
      max-content,
      61.2rem
    );
}

.account-settings__from-group {
  display: flex;
  flex-direction: column;
  // align-items: flex-start;

  input {
    font-size: 1.8rem;
    font-family: inherit;
    padding: 1rem;
    outline: none;
    border: 0.1rem solid $color-secondary-light;
  }
}

// .account-settings__form-content {
//   display: grid;
//   grid-template-columns: 61.2rem;
// }

.form-btn {
  font-family: inherit;
  font-size: 1.8rem;
  padding: 1.1rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-save {
  background-color: $color-primary-dark;
  color: $color-white;
  margin-right: 2rem;

  &:hover {
    background-color: #295fc8;

    transition: all 0.3s;
  }
}

.btn-cancel {
  border: 0.1rem solid $color-black;
  background-color: $color-white;

  &:hover {
    background-color: $color-black;
    color: $color-white;
    transition: all 0.3s;
  }
}

.form-required__highlight {
  color: $color-primary-dark;
}

.account-current-information {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 6rem;

  .edit-form {
    // width: 100%;
    display: flex;
    font-family: inherit;
    font-weight: 400;
    font-size: inherit;
    align-items: center;
    gap: 0.6rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $color-primary-dark;
      transition: color 0.3s;
    }
  }

  .edit-pen {
    height: 2rem;
  }
}

.account-current-information {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
