@import "../../../../sass/variables";

.collection-section {
  padding: $sides-padding-md;
  margin: 4rem 0;
}

.collection-heading {
  margin-bottom: 4rem;
}

.collection-container {
  margin: 0 auto;
  max-width: $md;
}
